* {
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(70, 186, 253);
    height: 70px;
    background-image: url(../img/pattern.png);
    background-size: contain;
}

.img-thebooleaner{
    width: 20%;
    margin-top: 25px;
}

.scrittore{
    color: grey;
    font-size: small;
}

.the-booleaner{
    color: rgb(95, 191, 247);
}

.data-articolo{
    color: grey;
    font-size:x-small;
}

.fonti-fototim{
    font-size:50%;
}

.paragrafo{
    font-size: 70%;
}

.testo-evidenziato-giallo{
    background-color: yellow;
}

.intestazione-tabella{
    background-color: rgb(0, 157, 255);
    color: white;
}

.righe-dispari{
    background-color: rgb(180, 238, 248);
    color: black;
}

.righe-pari{
    background-color: white;
    color: black;
}




